<ul>
    <li *ngFor="let char of characters">
        <span>{{char.id}}</span>
        <div><strong>Properties:</strong><br>
            <ul>
                <li *ngFor="let property of char.properties">
                    <strong>{{property.name}}: </strong> <app-detail-view [detail]="property.detail"></app-detail-view>
                </li>
            </ul>
        </div>
        <div><strong>Details:</strong><br>
        <ul>
            <li *ngFor="let detail of char.details">
                <app-detail-view [detail]="detail"></app-detail-view>
            </li>
        </ul>
    </div>
    </li>
</ul>