<mat-card class="entityCard" [style.width.px]="properties.width" [style.height.px]="properties.height" cdkDragBoundary=".entityCardContainer" cdkDrag (cdkDragEnded)="endMove($event)" [cdkDragData]="entity.id" [cdkDragFreeDragPosition]="properties">
    <div (mousedown)="startMove($event)" class="handle" cdkDragHandle><div class="name">{{entity.name}}<strong class="close" (click)="close.emit()">X</strong></div>
        <mat-divider></mat-divider>
    </div>
    <div class="content">
    <app-entity-view [entity]="entity" *ngIf="!properties.editMode"></app-entity-view>
    <app-entity-edit (update)="updateEntity($event)" [entity]="entity" *ngIf="properties.editMode"></app-entity-edit>
    <button (click)="toggleEditMode()"><span *ngIf="!properties.editMode">Edit Entity</span><span *ngIf="properties.editMode">Save</span></button>
</div>
    
</mat-card>
